@font-face {
  font-family: "iconfont"; /* Project id 5095250 */
  src: url('iconfont.woff2?t=1766532870373') format('woff2'),
       url('iconfont.woff?t=1766532870373') format('woff'),
       url('iconfont.ttf?t=1766532870373') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lieri:before {
  content: "\e601";
}

.icon-liebiao:before {
  content: "\e602";
}

.icon-githublogo:before {
  content: "\e607";
}

.icon-youtube:before {
  content: "\e84b";
}

.icon-rss:before {
  content: "\e603";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-email-fill:before {
  content: "\e856";
}

.icon-zuoyoujiantou:before {
  content: "\e605";
}

.icon-bilibili:before {
  content: "\e606";
}

.icon-zuoyoujiantou1:before {
  content: "\e608";
}

.icon-tianqi_yueliang_moon:before {
  content: "\e8a2";
}

.icon-wenzhang-copy:before {
  content: "\e643";
}

.icon-game:before {
  content: "\e627";
}

.icon-home:before {
  content: "\e626";
}

.icon-friends:before {
  content: "\e600";
}

.icon-yinyangyu:before {
  content: "\e61b";
}

.icon-tool-fill:before {
  content: "\e86f";
}

.icon-box-archive-solid:before {
  content: "\e613";
}

